
@import "../../styles/mixin.scss";

.Header {
  top: 0;
  z-index: 4;
  padding: 20px 10px;
  @include view-mobile {
    padding: 0px;
  }   
  @include view-mobile {
      background-color: white;
  }   
}

.stickyHeader {
  top: 0;
  position: fixed;
  z-index: 300;
  padding: 20px 10px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 100%;
  @include min {
    padding: 0px;
    background-color: white;

  }    
}
.HeaderContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  @include min {
    height: 45px;
  }   
}
.logoSticky {
  left: 30px;
  top: 12px;
  position: absolute;
  z-index: 5;
  width: 106px * 0.85;
  height: 70px * 0.85;
  -webkit-animation:spin 16s linear infinite;
  -moz-animation:spin 16s linear infinite;
  animation:spin 16s linear infinite;
  animation-delay: 8s;  
  @include min {
    left: 8px;
    top: -8px;
    width: 106px * 0.85;
    height: 70px * 0.85;
    animation: none;
  }   
}
@-moz-keyframes spin { 
  100% { -moz-transform: rotateY(180deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotateY(180deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotateY(360deg); 
      transform:rotateY(360deg); 
  } 
}
.logoTextSticky {
  top: 12px;
  left: 132px;
  width: 182px * 0.85;
  height: 70px * 0.85;
  position: absolute;
  @include min {
    border: 1px solid blue;
    border: 1px solid red;
    left: 80px;
    top: 12px;
    width: 182px * 0.8;
    height: 70px * 0.8;
  }
  @include view-mindi-h {
    border: 1px solid blue;
    left: 110px;
}
}
.content {
  z-index: 20;
  display: flex;
  justify-content: right;
  width: 870px;
  @include big {
    width: 1000px;
  }
  @include sx{
    width: 800px;
  }
  @include sx-min-screen 
  {
    width: 750px;
  }
  @include mindi {
    width: 350px;
  }
  @include min {
    width: 500px;
  }
  @include view-mobile {
    width: 100px;
  }  

}
.language {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  margin-right: 40px;
  height: 47px;
  @include big {
    height: 36px;
    width: 90px;
    margin-left: 40px;
  }
  @include view-mobile {
    width: 80px;
    margin-right: 10px;
  }   
}
.menuMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px !important;
  gap: 8px;
  height: 40px;
}